blockquote p {
    font-size: 1em;
    color: #696969;
    border-left: 7px solid steelblue;
    padding: 10px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

ul, ol {
    text-align: justify;
}

h2 {
    border-bottom: 1px solid steelblue;
}

.twemoji { 
    font-size: .3em;
}

img.twemoji {
    width: 5%;
}


img.rounded {
    /*border-radius: 15px 50px;*/
    border-radius: 15px 50px 30px;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /*filter: grayscale(100%);*/
    filter: grayscale(100%) sepia(100%) hue-rotate(190deg) saturate(200%) brightness(100%);
}

img.header {
    border-radius: 15px 50px 30px;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}